{% extends "base.html" %}

{% block content %}
  <div class="min-h-screen flex flex-col">
    {% include "partials/navbar.html" %}

    <div class="flex flex-1">
      <aside class="hidden lg:block w-72 border-r border-default-200 bg-white">
        {% include "partials/sidebar.html" %}
      </aside>

      <main class="flex-1 p-6 lg:p-10">
        {% block page_content %}{% endblock %}
        <div class="mt-12">
          {% include "partials/footer.html" %}
        </div>
      </main>
    </div>
  </div>
{% endblock %}
